#slot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 780px) {
  #slot-container {
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }
  #slot-container::-webkit-scrollbar {
    display: none;
  }
}
