.followus_container{
    height: 180px;
    background-color: #F3F8FF;
    box-shadow: 0 30px 30px 10px #675f5f;
    margin-top: 100px;
}
.followus_content{
    margin-top: 30px;
    margin-bottom: 15px;
}
.followus_left{
    border-right:1px solid #D4D7E1;
    height: 100%;
}
.whats_coockin{
    font: Bold 24px/20px Roboto;
    text-align: center;
}
.cookin{
    color: #F38A21;
}
.subscribe_button{
    background: #1C1742;
    color: white;
    padding: 10px 8px;
    border-radius: 10px 0px;
    width: 100%;
    font-weight: 600;
    border: 0px;
}
.subscribe_container{
    display: flex;
    align-items: center;
}
.followus_right{
    text-align: center;
    font: Bold 24px/20px Roboto;
}
.followus_right h6{
    font: Bold 24px/20px Roboto;
}
.subscribe_input{
    background-image: url("data:image/svg+xml,%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Csvg%20class%3D%22bi%20bi-envelope%22%20width%3D%221em%22%20height%3D%221em%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22%23ABABAB%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M14%203H2a1%201%200%2000-1%201v8a1%201%200%20001%201h12a1%201%200%20001-1V4a1%201%200%2000-1-1zM2%202a2%202%200%2000-2%202v8a2%202%200%20002%202h12a2%202%200%20002-2V4a2%202%200%2000-2-2H2z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M.071%204.243a.5.5%200%2001.686-.172L8%208.417l7.243-4.346a.5.5%200%2001.514.858L8%209.583.243%204.93a.5.5%200%2001-.172-.686z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M6.752%208.932l.432-.252-.504-.864-.432.252.504.864zm-6%203.5l6-3.5-.504-.864-6%203.5.504.864zm8.496-3.5l-.432-.252.504-.864.432.252-.504.864zm6%203.5l-6-3.5.504-.864%206%203.5-.504.864z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fsvg%3E");
    background-position: 25px 50%;
    padding-left: 50px;
}
.followus_right img{
    margin: 10px 10px;
}