.footer_terms {
  background-color: #191436;
  color: white;
  font: Regular 16px/20px Roboto;
  position: relative;
  padding: 16px 20px;
}

.cover_terms {
  align-items: center;
}

@media (max-width: 780px) {
  .footer_terms {
    padding: 16px 8px;
  }
  .footer_terms .row {
    margin-left: 0;
    margin-right: 0;
  }
  .footer_terms:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-width: 0;
    border-top: 4px solid;
    border-image: linear-gradient(
        to right,
        #575a7b,
        #575a7b 20%,
        #f9655b 20%,
        #f9655b 40%,
        #f5c070 40%,
        #f5c070 60%,
        #6658ea 60%,
        #6658ea 80%,
        #ffcccc 80%
      )
      1;
  }
}
