.margin_auto{
    margin: auto;
    padding: 10px 0px;
}
.signin_heading{
    text-align: center;
    font: Bold 45px/59px Roboto;
    letter-spacing: 0px;
    color: #181436;
    opacity: 1;
}
.signin_text{
    text-align: center;
    font: Regular 18px/24px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    padding: 20px 0px;
}
.forgot_password{
    text-align: center;
    padding: 20px 0px;
    font: Regular 18px/24px Roboto;
}
.signin_input{
    text-align: center;
}